## Deliverable 3. Create a Travel Itinerary Map.

In [74]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [75]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("Vaccation_Search/WeatherPy_vaccation.csv")
vacation_df.head()

,City,City.1,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,10,Panguipulli,CL,49.71,clear sky,-39.6333,-72.3333,Cabañas Mis Viejos
1,13,Ancud,CL,51.22,clear sky,-41.8697,-73.8203,Hotel Arena Gruesa
2,17,Punta Arenas,CL,41.11,clear sky,-53.1500,-70.9167,Hotel Hain
3,36,Bowmore,US,53.62,broken clouds,34.9421,-79.3031,NaN
4,37,Jumla,NP,44.87,clear sky,29.2747,82.1838,Royal Garden Hotel

In [76]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.

info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}
 at {Max Temp}</dd>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [77]:
# 4a. Add a marker layer for each city to the map.
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure(center=(30.0, 31.0, zoom_level=1.5))
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

SyntaxError: invalid syntax (4022821457.py, line 3)

In [135]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.
#ninth_grade_student_count_Thomas_High_School = school_data_complete_df.loc[(school_data_complete_df['school_name']=='Thomas High School')&(school_data_complete_df['grade']=='9th')]["Student ID"].count()


vacation_start = vacation_df.loc[(vacation_df["City.1"] == "Panguipulli")]
vacation_end = vacation_df.loc[(vacation_df["City.1"] == "Panguipulli")]
vacation_stop1 = vacation_df.loc[(vacation_df["City.1"] == "Punta Arenas")]
vacation_stop2 = vacation_df.loc[(vacation_df["City.1"] == "Bowmore")]
vacation_stop3 = vacation_df.loc[(vacation_df["City.1"]== "Ancud")]
vacation_stop3

,City,City.1,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,13,Ancud,CL,51.22,clear sky,-41.8697,-73.8203,Hotel Arena Gruesa

In [136]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start.to_numpy()
end = vacation_end.to_numpy()
stop1 = vacation_stop1.to_numpy()
stop2 = vacation_stop2.to_numpy()
stop3 = vacation_stop3.to_numpy()
start = start[0][5:7]
end = end[0][5:7]
stop1 = stop1[0][5:7]
stop2 = stop2[0][5:7]
stop3 = stop3[0][5:7]
start_tuple = tuple(start)
end_tuple = tuple(end)
stop1_tuple = tuple(stop1)
stop2_tuple = tuple(stop2)
stop3_tuple = tuple(stop3)

In [118]:
start
end
stop1
stop2
stop3

(-39.6333, -72.3333)

In [119]:
#start = vacation_start.to_numpy()

In [137]:
start_tuple

(-39.6333, -72.3333)

In [138]:
end_tuple

(-39.6333, -72.3333)

In [139]:
stop1_tuple

(-53.15, -70.9167)

In [97]:
end = vacation_end.to_numpy()
end = end[0][5:7]
end

array([-41.8697, -73.8203], dtype=object)

In [92]:
end = vacation_end.to_numpy()
print(end)

[[13 'Ancud' 'CL' 51.22 'clear sky' -41.8697 -73.8203
  'Hotel Arena Gruesa']]

In [80]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
#start = vacation_start.to_numpy['Lat', 'Lng']
end = vacation_end.to_numpy([0][5:7])
#stop1 = vacation_stop1.to_numpy['Lat']['Lng']
#stop2 = vacation_stop2.to_numpy['Lat']['Lng']
#stop3 = vacation_stop3.to_numpy['Lat']['Lng']
#end[0:6]
print(end)
#print(end[0])
#print(end[0][5:7])

[[() () () () () () () ()]]

In [145]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure()
vacation_itinerary = gmaps.directions_layer(
    start,end,waypoints=[start_tuple,end_tuple,stop1_tuple,stop3_tuple]
    
)
#stop2_tuple,
travel_mode='WALKING' 
#'BICYCLING'
#'DRIVING'
#,'BICYCLING','WALKING'
fig.add_layer(vacation_itinerary)
fig

Figure(layout=FigureLayout(height='420px'))

In [149]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat( function.
itinerary_df = pd.concat([vacation_start, vacation_end, vacation_stop1, vacation_stop3], ignore_index=True)
itinerary_df
#vacation_stop2,

,City,City.1,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,10,Panguipulli,CL,49.71,clear sky,-39.6333,-72.3333,Cabañas Mis Viejos
1,10,Panguipulli,CL,49.71,clear sky,-39.6333,-72.3333,Cabañas Mis Viejos
2,17,Punta Arenas,CL,41.11,clear sky,-53.1500,-70.9167,Hotel Hain
3,13,Ancud,CL,51.22,clear sky,-41.8697,-73.8203,Hotel Arena Gruesa

In [150]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """

<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}
 at {Max Temp}</dd>

"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [151]:
# 11a. Add a marker layer for each city to the map.
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure()
fig.add_layer(marker_layer)


# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))