## Deliverable 3. Create a Travel Itinerary Map.

In [74]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [152]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("Vacation_Search/WeatherPy_Vacation.csv")
vacation_df.head()

,City,City.1,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,0,New Norfolk,AU,68.90,overcast clouds,-42.7826,147.0587,The Shingles Riverside Cottages
1,2,Tasiilaq,GL,26.76,overcast clouds,65.6145,-37.6368,The Red House
2,7,Codrington,AU,67.82,overcast clouds,-38.2667,141.9667,Codrington Gardens Bed And Breakfast
3,10,Panguipulli,CL,49.71,clear sky,-39.6333,-72.3333,Cabañas Mis Viejos
4,11,Havoysund,NO,23.88,light snow,70.9963,24.6622,Arctic View Glamping & Restaurant

In [153]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.

info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}
 at {Max Temp}</dd>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [183]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[(vacation_df["City.1"] == "Westport")]
vacation_end = vacation_df.loc[(vacation_df["City.1"] == "Westport")]
vacation_stop1 = vacation_df.loc[(vacation_df["City.1"] == "Bethel")]
vacation_stop2 = vacation_df.loc[(vacation_df["City.1"] == "Jamestown")]
vacation_stop3 = vacation_df.loc[(vacation_df["City.1"]== "Virginia Beach")]
vacation_stop3

,City,City.1,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
162,367,Virginia Beach,US,39.25,overcast clouds,36.8529,-75.978,Hilton Virginia Beach Oceanfront

In [192]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start.to_numpy()
end = vacation_end.to_numpy()
stop1 = vacation_stop1.to_numpy()
stop2 = vacation_stop2.to_numpy()
stop3 = vacation_stop3.to_numpy()
start = start[0][5:7]
end = end[0][5:7]
stop1 = stop1[0][5:7]
stop2 = stop2[0][5:7]
stop3 = stop3[0][5:7]
start_tuple = tuple(start)
end_tuple = tuple(end)
stop1_tuple = tuple(stop1)
stop2_tuple = tuple(stop2)
stop3_tuple = tuple(stop3)
stop3_tuple

(36.8529, -75.97800000000002)

In [193]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure()
vacation_itinerary = gmaps.directions_layer(
    start,end,waypoints=[start_tuple,end_tuple,stop1_tuple,stop2_tuple,stop3_tuple]
    
)

travel_mode='WALKING' 

fig.add_layer(vacation_itinerary)
fig

Figure(layout=FigureLayout(height='420px'))

In [189]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat( function.
itinerary_df = pd.concat([vacation_start, vacation_end, vacation_stop1,vacation_stop2, vacation_stop3], ignore_index=True)
itinerary_df
#vacation_stop2,

,City,City.1,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,334,Westport,US,27.81,overcast clouds,41.1415,-73.3579,The Westport Inn
1,334,Westport,US,27.81,overcast clouds,41.1415,-73.3579,The Westport Inn
2,14,Bethel,US,26.04,broken clouds,41.3712,-73.4140,Courtyard by Marriott Danbury
3,20,Jamestown,US,13.71,overcast clouds,42.0970,-79.2353,Hampton Inn & Suites Jamestown
4,367,Virginia Beach,US,39.25,overcast clouds,36.8529,-75.9780,Hilton Virginia Beach Oceanfront

In [190]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """

<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}
 at {Max Temp}</dd>

"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [191]:
# 11a. Add a marker layer for each city to the map.
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure()
fig.add_layer(marker_layer)


# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))